.footer{
    padding: 4rem 6rem;
    background-color: #FFF0F5;
    background-image: linear-gradient(180deg, #FFF0F5 0%, black 100%);
    color: beige;
}
.top{
    display:flex ;
    align-items:center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;

}
.top i {
    color:black;
    font-size:2rem;
    margin-left: 1rem;
}
.top i:hover{
    color:aqua;
}