.footer{
    padding: 4rem 6rem;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    color: beige;
}
.top{
    display:flex ;
    align-items:center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;

}
.top i {
    color:white;
    font-size:2rem;
    margin-left: 1rem;
}
.top i:hover{
    color:aqua;
}